* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-family: monospace;
}


.space {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}

.gradient {
    background-image: linear-gradient(to right, #ffa836, #ff5656, rgb(131, 63, 255));
    border-radius: 15px;
    padding: 3px;
}

