* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-family: monospace;
}


.space {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}



