<nav class="w-100 h-100 d-flex flex-column align-items-center gap-3 bg-general bg-opacity-25 p-1">

    <div class="btn-group-vertical">
        <img src="assets/cardiogram.png" alt="heart-logo" height="130" width="130" class="m-auto">
        <h3 class="gradient">LABMedical</h3>
    </div>
    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>GERAL</h4>
        </li>

        <li>
            <a routerLink="statistics" class="btn btn-primary space" (click)="salvarTitulo('ESTATÍSTICAS')">
                <img src="assets/graphic.svg" alt="main" height="24">
                INÍCIO
            </a>
        </li>

        <li>
            <a (click)="deslogar()" class="btn btn-primary space">
                <img src="assets/logout.svg" alt="logout" height="24">
                SAIR
            </a>
        </li>
    </ul>
    

    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>PACIENTES</h4>
        </li>

        <li>
            <a routerLink="pacient-registration" class="btn btn-primary space" (click)="salvarTitulo('REGISTRO DE PACIENTE')">
                <img src="assets/person-add.svg" alt="register-patient" height="24">
                CADASTRAR PACIENTE
            </a>
        </li>

        <li>
            <a routerLink="medical-record-list" class="btn btn-primary space" (click)="salvarTitulo('PRONTUÁRIO')">
                <img src="assets/prontuario.svg" alt="prontuário" height="24">
                LISTAR PRONTUÁRIO
            </a>
        </li>
    </ul>
    

    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>EXAMES</h4>
        </li>

        <li>
            <a routerLink="query-registration" class="btn btn-primary space" (click)="salvarTitulo('REGISTRO DE CONSULTA')">
                <img src="assets/add.svg" alt="query-registration" height="24">
                CADASTRAR CONSULTA
            </a>
        </li>

        <li>
            <a routerLink="exam-registration" class="btn btn-primary space" (click)="salvarTitulo('REGISTRO DE EXAME')">
                <img src="assets/add.svg" alt="exam-registration" height="24">
                CADASTRAR EXAME
            </a>
        </li>
    </ul>
</nav>
