<nav class="w-100 h-100 d-flex flex-column align-items-center gap-3 bg-general bg-opacity-25 p-1">
    <div class="btn-group-vertical">
        <img src="assets/cardiogram.png" alt="heart-logo" height="130" width="130" class="m-auto">
        <h3>LABMedical</h3>
    </div>
    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>GERAL</h4>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/graphic.svg" alt="main" height="24">
                INÍCIO
            </a>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/logout.svg" alt="logout" height="24">
                SAIR
            </a>
        </li>
    </ul>
    

    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>PACIENTES</h4>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/add.svg" alt="register-patient" height="24">
                CADASTRAR
            </a>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/prontuario.svg" alt="prontuário" height="24">
                LISTAR PRONTUÁRIO
            </a>
        </li>
    </ul>
    

    <ul class="d-flex flex-column gap-1 w-100">
        <li>
            <h4>EXAMES</h4>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/add.svg" alt="register-query" height="24">
                CADASTRAR CONSULTA
            </a>
        </li>

        <li>
            <a href="#" class="btn btn-primary space">
                <img src="assets/add.svg" alt="register-exam" height="24">
                CADASTRAR EXAME
            </a>
        </li>
    </ul>
</nav>
