<div class="modal fade" id="modal-signup">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-body">
                <div>
                    <label for="cadastro-email" class="form-label">E-mail</label>
                    <input type="email" id="cadastro-email" class="form-control" placeholder="example@gmail.com">
                </div>
                <div>
                    <label for="cadastro-senha" class="form-label">Senha</label>
                    <input type="password" id="cadastro-senha" class="form-control" placeholder="Mínimo de 9 caracteres" minlength="9" required>
                </div>
                <div>
                    <label for="confirm-senha" class="form-label">Confirmar senha</label>
                    <input type="password" id="confirm-senha" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button class="btn btn-success">Confirmar</button>
            </div>
        </form>
    </div>
</div>
