    <div class="modal fade" id="modal-forgot-password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-danger bg-danger bg-opacity-50 p-2 justify-content-center">
                    <h5 class="m-0 alert-link">ALERTA!</h5>
                </div>
                <div class="modal-body d-flex justify-content-between">
                    <p>Essa função está em construção.</p>
                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal-forgot-password"></button>
                </div>
            </div>
        </div>
    </div>