* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-general {
    background: #9db5da;
}

h2 {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding: .375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)

}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
}

.gradient {
    background-image: linear-gradient(to right, #ffa836, #ff5656, rgb(131, 63, 255));
    border-radius: 15px;
    padding: 3px;
}