<section class="d-flex flex-column p-3 text-center">
    <div class="d-flex flex-column gap-3">
        <h2 class="bg-light">ESTATÍSTICAS DO SISTEMA</h2>
        <div class="d-flex justify-content-around">
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3">
                    <img src="assets/people.svg" alt="pacientes" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">22</p>
                </div>
        
                <p class="text-center">PACIENTES</p>
            </div>
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3">
                    <img src="assets/calendar.svg" alt="consultas" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">35</p>
                </div>
        
                <p class="text-center">CONSULTAS</p>
            </div>
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3">
                    <img src="assets/exams.svg" alt="exames" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">18</p>
                </div>
        
                <p class="text-center">EXAMES</p>
            </div>
        </div>
    </div>

    <hr class="mt-4 mb-4">
    
    <div class="d-flex flex-column gap-3">
        <h2>INFORMAÇÕES RÁPIDAS DE PACIENTES</h2>
        <div class="d-flex gap-3">
            <input type="text" class="form-control">
            <button class="btn btn-outline-primary">BUSCAR</button>
        </div>
        
        <ul class="d-flex flex-wrap gap-3 justify-content-center">
            <li class="card">
                <img src="assets/profile-icon-default.svg" alt="profile-photo" height="70">
                <div class="card-body">
                    <h4>João Vitor Anacleto</h4>
                    <small>22 anos</small>
                    <a href="#">(31) 9 9754-3903</a>
                    <h6>SEM PLANO</h6>
                </div>
                <div class="card-footer">
                    <small>Ver mais &#10010;</small>
                </div>
            </li>

            <li class="card">
                <img src="assets/profile-icon-default.svg" alt="profile-photo" height="70">
                <div class="card-body">
                    <h4>João Vitor Anacleto</h4>
                    <small>22 anos</small>
                    <a href="#">(31) 9 9754-3903</a>
                    <h6>SEM PLANO</h6>
                </div>
                <div class="card-footer">
                    <small>Ver mais &#10010;</small>
                </div>
            </li>

            <li class="card">
                <img src="assets/profile-icon-default.svg" alt="profile-photo" height="70">
                <div class="card-body">
                    <h4>João Vitor Anacleto</h4>
                    <small>22 anos</small>
                    <a href="#">(31) 9 9754-3903</a>
                    <h6>SEM PLANO</h6>
                </div>
                <div class="card-footer">
                    <small>Ver mais &#10010;</small>
                </div>
            </li>

            <li class="card">
                <img src="assets/profile-icon-default.svg" alt="profile-photo" height="70">
                <div class="card-body">
                    <h4>João Vitor Anacleto</h4>
                    <small>22 anos</small>
                    <a href="#">(31) 9 9754-3903</a>
                    <h6>SEM PLANO</h6>
                </div>
                <div class="card-footer">
                    <small>Ver mais &#10010;</small>
                </div>
            </li>

            
        </ul>
    </div>
</section>
