<section class="d-flex flex-column p-3 text-center">
    <div class="d-flex flex-column gap-3">
        <h2>Estatísticas do Sistema</h2>
        <div class="d-flex justify-content-around">
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3 flex-wrap">
                    <img src="assets/people.svg" alt="pacientes" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">{{clientes.length}}</p>
                </div>
        
                <p class="text-center">PACIENTES</p>
            </div>
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3 flex-wrap">
                    <img src="assets/calendar.svg" alt="consultas" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">{{consultas}}</p>
                </div>
        
                <p class="text-center">CONSULTAS</p>
            </div>
            <div class="border p-3 col-3">
                <div class="d-flex align-items-center gap-3 flex-wrap">
                    <img src="assets/exams.svg" alt="exames" height="70">
                    <p class="m-auto display-3 h3 fw-bolder">{{exames}}</p>
                </div>
        
                <p class="text-center">EXAMES</p>
            </div>
        </div>
    </div>

    <hr class="mt-4 mb-4">
    
    <div class="d-flex flex-column gap-3">
        <h2>Informações Rápidas de Pacientes</h2>
        <div class="d-flex gap-3 shadow p-2">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Procure o paciente pelo nome ou pelo ID">
        </div>
        
        <ul class="d-flex flex-wrap gap-3 justify-content-center">
            <li class="card" *ngFor="let cliente of clientes | filterForStatistics:search">
                <img src="assets/profile-icon-default.svg" alt="profile-photo" height="70">
                <div class="card-body d-flex flex-column justify-content-around">
                    <h4>{{cliente['dados']['nome']}}</h4>
                    <a href="#">{{cliente['dados']['email']}}</a>
                    <h6>{{cliente['dados']['convênio']}}</h6>
                    <h6>ID: {{cliente['dados']['id']}}</h6>
                </div>
                <div class="card-footer">
                    <small>Ver mais &#10010;</small>
                </div>
            </li>
            
        </ul>
    </div>
</section>
